<div fxLayout="row wrap" fxLayoutAlign="center">
  <form>
    <mat-form-field>
      <input matInput placeholder="New List" name="newList" (keydown.enter)="addList($event)"/>
   </mat-form-field>
  </form>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngFor="let list of lists">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title id="mat-card-title">
        <div (click)="openListTitleEditor(list)">{{ list['title'] }}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list role="list" (selectionChange)="openItemEditor($event)">
        <div *ngFor="let item of list['items']">
          <!-- stateの状態によってDOMが変わる -->
          <div [ngSwitch]="item['state']">
            <mat-list-option role="listitem" [value]="{ listId: list['id'], itemId: item['id'], nowItem: item['body'], state: item['state'] }">
              <!-- TODOが未完了の場合 -->
              <div *ngSwitchCase="0">{{ item['body'] }}</div>
              <!-- TODOが完了の場合 -->
              <div *ngSwitchCase="1"><s class="completed-task">{{ item['body'] }}</s></div>
            </mat-list-option>
          </div>
        </div>
      </mat-selection-list>
      <button mat-button (click)="openConfimationDialog(list['id'], list['title'])" color="warn">Delete List</button>
      <!-- <button mat-button (click)="addItem(list['id'])">Add Item</button> -->
      <form>
        <mat-form-field>
          <input matInput placeholder="New Item" name="newItem" (keydown.enter)="addItem(list['id'], $event)"/>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
</div>
