<div fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngFor="let list of lists">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title id="mat-card-title" (click)="openListTitleEditor(list)">{{ list['title'] }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list role="list" (selectionChange)="editItemBody($event.option)">
        <div *ngFor="let item of list['items']">
          <!-- load直後はstateの状態によってDOMが変わる -->
          <!-- selectedの値が変わる毎にstateも変更したい -->
          <div [ngSwitch]="item['state']">
            <!-- TODOが未完了の場合 -->
            <mat-list-option role="listitem" *ngSwitchCase="0" [selected]="item.selected" [value]="item['id']">
              {{ item['body'] }}
            </mat-list-option>
            <!-- TODOが完了の場合 -->
            <mat-list-option role="listitem" *ngSwitchCase="1" [selected]="item.selected" [value]="item['id']">
              <s>{{ item['body'] }}</s>
            </mat-list-option>
          </div>
        </div>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
  </div>
</div>
